{% load i18n %}

{% if quantity == 1 %}
    {% blocktrans with title=product.get_title %}
    <strong>{{ title }}</strong> has been added to your basket.
    {% endblocktrans %}
{% else %}
    {% blocktrans with title=product.get_title quantity=quantity %}
    <strong>{{ quantity }}</strong> copies of <strong>{{ title }}</strong>
    have been added to your basket.
    {% endblocktrans %}
{% endif %}
{% if 'Bedswing' in product.product_class.name %}
<br>
<a href="/catalogue/category/cushions-pillows_10/">Don't forget Pillows and Cushions!</a>
<br>
<a href="/catalogue/category/stainless-steel-chain_1/">Don't forget Stainless Steel Chain! (recommended for beach/ oceanside locations)</a>
{% endif %}
