{% extends "layout_2_col.html" %}
{% load i18n %}
{% load staticfiles %}


{% block navigation %}
    {% include "partials/nav_primary.html" with expand_dropdown=1 %}
{% endblock %}

{% block header %}{% endblock %}

{% block column_left %}
{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="row justify-content-md-center about-page">
	<div class="col-12 col-md-10">
<p>Q. <em>&#8220;How much space will I need for my new bed swing?&#8221;</em><br />
A. General hanging guidance for original size bed swing:</p>
<ul style="list-style: none;">
<li>Imagine a rectangle above where you plan to hang your Bedswing (34&#8243; x 80&#8243; for original, 27&#8243; x 70&#8243; for mini)</li>
<li>A 1/2&#8243; by 4&#8243; Eye-Lag screw (all hardware is included) will go in each corner (give or take 1&#8243; to 2&#8243; is OK).</li>
<li>The Eye-Lag screws must go into at least a 2” by 6”.</li>
<li>Ideally, allow 1½  feet in front and in back of bed swing and 1 foot on each side. (It is possible with less clearance if vigorous swinging is not anticipated).</li>
</ul>
<p>Q. <em>&#8220;How do I hang and support the bed swing?&#8221;</em><br />
A. We recommend that you have your new bed swing installed by a professional. Hanging involves installation of four-4″ eye lag bolts into a minimum of a 2 x 6-inch support.</p>
<p>Q. <em>&#8220;May I hang my porch bed swing on any ceiling or support height?&#8221;</em><br />
A. Yes. Your bed swing comes complete with enough chain length to hang it from up to a ten-foot ceiling. If your ceiling height is greater than that, simply let us know during your checkout and we will send enough chain to support that at no extra charge.</p>
<p>Q. <em>&#8220;Where should I hang my bed swing?&#8221;</em><br />
A. The Original Charleston Bedswing is not intended for outdoor exposure with no overhead cover. Best use is on a covered porch or inside.</p>
<p>Q. <em>&#8220;How should I care for my cushion fabric?&#8221;</em><br />
A. For normal stains: Remove loose dirt with soft bristle brush or hose down with cold water. Clean with water and mild soap.<br />
A. For stubborn stains: Soak fabric in one gallon cold water with one half cup of bleach and one quarter cup of mild soap mixed in for one hour. Rub in mixture with soft brush rinse and cold water. Air dry.</p>
<p>Q. <em>&#8220;I would love to match the color of my bed swing to existing décor. Can you do that?&#8221;</em><br />
A. Yes. For a small extra charge, we can finish your bedswing in any Sherwin Williams paint color. During checkout, just enter the specific Sherwin Williams paint number and we will make it look just like you wish.</p>
<p>Q. <em>&#8220;How much assembly is required?&#8221;</em><br />
A. Your bedswing will arrive fully assembled. All you have to do is hang it.</p>
<p>Q. <em>&#8220;How do you ship such a large item and what are the charges?&#8221;</em><br />
A. Due to the size, both the bed swing itself and the cushion package are shipped by freight and are shipped separately from two different locations. The freight charges are based on your location and are calculated during checkout.</p>
<p>Q. <em>&#8220;May I provide my own fabric for the cushions and pillows?&#8221;</em><br />
A. Yes. We offer C.O.M. (Customers own material) for creation of the cushions and pillows. We will be updating our shopping module to include this option. Before then, just call us to arrange. Price is $1,111.20 (20% off of regular cushion price). Mail 12 yards of fabric for original size; 11 yards of fabric for mini size to:</p>
<p>C/O Kira<br />
East Coast Umbrella<br />
6321 Andrew Jackson Hwy<br />
Laurel Hill, NC 28351</p>
<p>Q. <em>&#8220;What is the shipping rate for my State?&#8221;</em><br />
WA : $775,
WI : $550,
WV : $325,
FL : $425,
WY : $550,
NH : $550,
NJ : $550,
NM : $550,
NC : $375,
ND : $575,
NE : $575,
NY : $550,
RI : $525,
NV : $775,
GU : $775,
CO : $550,
CA : $775,
GA : $375,
CT : $525,
OK : $525,
OH : $400,
KS : $450,
SC : $275,
KY : $400,
OR : $775,
SD : $550,
DE : $425,
DC : $425,
HI : $775,
PR : $1000,
TX : $525,
LA : $425,
TN : $400,
PA : $525,
VA : $375,
VI : $1000,
AK : $775,
AL : $425,
AS : $775,
AR : $425,
VT : $550,
IL : $400,
IN : $400,
IA : $475,
AZ : $550,
ID : $550,
ME : $575,
MD : $375,
MA : $525,
UT : $550,
MO : $400,
MN : $550,
MI : $500,
MT : $550,
MS : $400
</p>
</div>
</div>
</div>

{% endblock content %}