<div class="col-md-12 about-page">
<div class = "col-md-4">
  <img src="{{STATIC_URL}}images/about1.jpg" alt="">
</div>
<div class="col-md-8">
  <p>The Original Charleston Bedswing® is all about relaxation. Porches, especially in the South, are the preferred venue for enjoying a cold glass of sweet tea, long talks with loved ones, reading a good book, and lazy afternoon naps. They act as the intermediary between the outside world and the intimate life of the home.</p>
  <p>Wanting to make our porch more inviting and comfortable for friends and family, I built the first Bedswing. In the beginning I made each bed swing by hand, giving them to friends and loved ones as gifts. As word spread and demand grew, it became clear that I would need to hand over production to someone else. Producing the swings anywhere but locally was not an option.</p>
  <p>After enlisting several local wood shops with varying success, I met Pat Withers and knew I did not need to search any further. I work closely with Pat and his employees at Withers Industries to ensure each bed swing is of the same quality as the first one I built so many years ago. The quality is unbeatable.</p>
  <p>Lean back in one and it becomes clear that every porch deserves an Original Charleston Bedswing®.</p>
</div>
<div class="col-md-12">
  <img src="{{STATIC_URL}}images/about2.jpg" alt="">
</div>
</div>